* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Concert One', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

.mouse {
    cursor: url(../assets/img/w01-h.cur), default;
}

.fondoI {
    background-image: url('../assets/img/background.png');
    background-size: cover;
    height: 100%;
}

.fondoA {
    background-image: url('../assets/img/wave.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.logo {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.navegacion {
    display: flex;
    justify-content: space-around;
}

.boton {
    cursor: url(../assets/img/w02-h.cur), pointer;
    color: white;
    font-family: 'Concert One';
    display: flex;
    justify-content: space-around;
}

footer {
    padding: 20px;
    text-align: center;
    color: white;
}