* {
    box-sizing: border-box;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.mouse {
    cursor: url(../assets/img/w01-h.cur), default;
}

.fondoI {
    background-image: url('../assets/img/background.png');
    background-size: cover;
    height: 100%;
}

.fondo2 {
    background-image: url('../assets/img/wave.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}

.logo {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.foto {
    background-image: url(../assets/img/Foto.png);
    background-position: center;
    background-size: contain;
    background-color: #17191a;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    display: flex;
}

.encabezado {
    justify-content: center;
    align-items: baseline;
}

.title {
    color: #17191a;
    font-family: 'Lilita One';
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.navegacion {
    display: flex;
    justify-content: space-around;
}

.texto {
    color: #17191a;
    font-family: 'Mooli';
    display: flex;
    justify-content: center;
}

.subtitle {
    font-family: 'Concert One';
    padding-left: 20px;
}

h4, h5 {
    font-family: 'Concert One';
}

p {
    font-family: Mooli;
}

.sad {
    display: flex;
    width: 100%;
    align-items: center;
}

.chibi {
    display: flex;
    width: 200px;
}

.bloque {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 5%;
}

.lista {
    width: 95%;
    font-family: 'Mooli';
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
}

.boton {
    cursor: url(../assets/img/w02-h.cur), pointer;
    color: white;
    font-family: 'Concert One';
    display: flex;
    justify-content: space-around;
}

.botonF {
    cursor: url(../assets/img/w02-h.cur)pointer;
}

footer {
    padding: 20px;
    text-align: center;
    color: white;
    font-family: 'Mooli', sans-serif;
}